# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/todo-app/node_modules
/todo-app/.pnp
/todo-app/.pnp.js

# testing
/todo-app/coverage

# production
/todo-app/build

# misc
/todo-app/.DS_Store
/todo-app/.env.local
/todo-app/.env.development.local
/todo-app/.env.test.local
/todo-app/.env.production.local

/todo-app/npm-debug.log*
/todo-app/yarn-debug.log*
/todo-app/yarn-error.log*
